.form-group {
    margin-bottom: 10px;
}

.form-group label:not(.error) {
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid rgba(0,0,0,0.07);
    font-family: 'Montserrat',sans-serif;
    -webkit-appearance: none;
    color: #2c2c2c;
    outline: 0;
    height: 35px;
    padding: 9px 12px;
    line-height: normal;
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}

.panel .panel-heading {
    background: transparent;
    border-radius: 0px;
    border-bottom: 0px;
    padding: 20px;
    position: relative;
    z-index: 3;
    min-height: 48px;
    text-transform: uppercase;
    font-weight: 600;
}

.panel.panel-default {
    border: 1px solid rgba(0,0,0,0.07);
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
}

.panel .panel-heading+.panel-body {
    padding-top: 0;
    height: calc(100% - 50px);
}
.panel .panel-body {
    padding: 20px;
    height: 100%;
    width: 100%;
}