.product {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1em;
}

.product-heading {
    text-align: center;
    vertical-align: center;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
}

.product > a {
    color: #5e5f62;
}

.product > a:hover {
    color: #647694;
    text-decoration: none;
}

.product-name {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #632626;
    margin-top: 10px;
}

.product-info {
    color: #727272;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: -13px;
}

.product-description {
    margin-top: -15px;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-stock {
    text-transform: uppercase;
    font-weight: 600;
}