// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,500);

// Variables
@import "_variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "_modified";
@import "_products";
@import "_orders";
@import "_home";

.form-control {
    min-height: 33px;
    height: 33px;
    border-radius: 3px;
    font-size: 13px;
}

.panel-align {
    margin-top: 5px;
}

